{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap/css/bootstrap.css' %}">
      <script src="{% static 'js/jquery-1.12.4.js' %}"></script>
    <script src="{% static 'plugins/bootstrap/js/bootstrap.js' %}"></script>
    <style>
        div.my-head{
            text-align: center;
        }

        .table td,th{
            text-align: center;
        }
        tbody a.btn{
            margin-left: 10px;
        }
    </style>
</head>
<body>

<div class="container">
<div class="my-head">
    <h1>问卷调查</h1>
</div>
<div class="my-content"></div>
<a href="/survey/add/"><span class="glyphicon glyphicon-plus"></span> 创建问卷调查表</a>

    <table class="table table-bordered table-condensed table-hover">
        <thead>
        <tr>
            <th>问卷名</th>
            <th>创建时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {% for i in survies %}
            <tr>
                <td>{{ i.title }}</td>
                <td>{{ i.create_time|date:'Y-m-d' }}</td>
                <td><a class="btn btn-sm btn-info" href="/surveytable/{{ i.pk }}/">Effect</a><a class="my-del btn btn-sm btn-danger" href="/surveytable/delete/{{ i.pk }}/">Delete</a><a class="btn btn-sm btn-success" href="/surveytable/result/{{ i.pk }}/">Result</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<a href="www.baidu.com" id="aaa"> baidu</a>
<script>



    $('.my-del').click(function (e) {
        var result = confirm('确定删除吗？');
        if(!result){
{#            return false;#}
            e.preventDefault();
        }
    });



    function del(event) {
        var result = confirm('确定要删除');
        if(!result){

            event.preventDefault();
        }

    }


</script>
</body>
</html>