{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>调查表</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap/css/bootstrap.css' %}">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
        <h3>{{ survey_table.survey.title }}</h3>
            <form action="" method="post">
                 <div class="items">
               {{ survey_table.gen_item_html }}
            </div>

                <input type="submit" value="提交">
            </form>

        </div>
    </div>
</div>


</body>
</html>